/* background color for the column with 'Parameters:' and 'Returns:' */
th {
    background-color: #ccedff;
}

/* border's color for pre blocks, typicaly py code prefixed by '::'  */
/* commented out a more bluish variant, the greenish one looks good */
/*
pre {
    border: 1px solid #a0b1c9;
}
*/

/* bg color for block with local TOC pointing to sections (body headers), example programming_guide/basic_concepts.html */
div.topic {
    background-color: #e5f6ff;
}

/* bg for inline code when into a note block, by example ``name`` and :meth:`xyz` when into a note block */
/* flushed with the note bg, so transparent; change if desired a visible backrgound */
.note code {
    background-color: transparent;
}

/* bg for inline pre into body, by example :meth:`schedule`, ``pyglet.clock.schedule_interval``,
 ``callback`` in CocosNode.schedule_interval */
/* flushed with the body bg, so transparent; change if desired a visible backrgound */

code.docutils.literal {
    background-color: transparent;
}
