[epydoc]
name: cocos2d API reference
url: http://www.cocos2d.org/

output: html
target: doc/html/api/
inheritance: included
private: no
imports: no
sourcecode: no
include-log: no

parse: yes
introspect: yes

modules: cocos cocos.director.Director

exclude: cocos.euclid|cocos.gl_.*|cocos.path|pyglet.*
